## MAC OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PYC
*.pyc

## IDEA
.idea/
.idea

## SQLITE
db/*.sqlite3

## TWITTER STUFF
py/params.py

## TEMP-TEST
test.html

#data/*
